<!DOCTYPE html>
<html>
 
<head>
    <title>Admin dashboard</title>
	<!-- viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="./assets/css/style_3.css">
</head>
 
<body>
    <nav>
        <ul>

        	<li><a href="#"><img style="height: 60px; width: auto; margin-top: 0" src="./assets/images/salonLogo.png"></a></li>

        	<li>Admin Dashboard</li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
	
	<div class="appointments">
	    <h3>Appointments</h3>
		{{#each appointments}}
	    	<p>Service: {{this.services}}</p>
			<p>Date: {{this.date}}</p> 
			<p>Time: {{this.time}}</p> 
			<p>First Name: {{this.firstname}}</p> 
			<p>Last Name: {{this.lastname}}</p> 
			<p>Email: {{this.email}}</p> 
			<p>Phone: {{this.phonenumber}}</p> 
			 
		{{/each}}

    		<!-- List of appointments goes here -->
    </div>
 
</body>
 
</html>